/*.cms .grid-field .add-existing-autocompleter input.relation-search{
	width:auto;
}*/

.grid-field__icon-action.icon-primary:before{
	color:#008a00;
}

.grid-field{
	margin-bottom:10px;
}



.linkfield-dialog ul.nav-tabs{
	display:block;
	width:100%;
	float:none;
}