//CUSTOM CSS
.header-logo{
	background-color: @white-background;
	width:200px;
	height:200px;
	border-radius:50%;
	box-shadow: 5px 10px 10px @black-background;
	.uk-logo{
		position:relative;
		height:100%;
		width:100%;
		padding:0;
		img{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			max-width:80%;
			height:auto;
		}
	}
}