//CUSTOM CSS
.header-logo{
	background-color: @white-background;
	width:200px;
	height:200px;
	border-radius:50%;
	box-shadow: 5px 10px 10px @black-background;
	.uk-logo{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		width:100%;
		img{
			max-width:80%;
			height:auto;
		}
	}
}