.dk-icon{
	width:auto;
	height:auto;
	margin:auto;
}
.boxblock{
	&.dk-box-background-white{
		.uk-container{
			background-color:@white;
		}
	}
	.uk-button{
		color:@global-secondary-background;
		.strong-font;
	}
}