.dk-slider{
	.slide-font;
	.dk-slide-text-container{
		margin-top:70px;
		height:~"calc(100% - 70px)";
		@media (min-width:@breakpoint-medium){
			margin-top:140px;
			height:~"calc(100% - 140px)";
		}
	}
}