/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/resources/
/cache/
/assets/
/.htaccess
composer.lock
composer.json
silverstripe.log
/silverstripe.log
log.txt
/googlesitemaps

*.log
*.cache
*.zip

/cache/!.gitkeep

/themes/standard/


deskall-layout/templates/Includes/Css.ss

themes/standard/css/main.css
themes/standard/css/main.min.css
themes/standard/javascript/vendor/11-project-specific.js

.DS_Store
.DS_Store
