/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/resources/
/cache/
/assets/
/.htaccess
composer.lock
composer.json
silverstripe.log
/silverstripe.log
log.txt
/googlesitemaps

*.log
*.cache
*.zip

/cache/!.gitkeep
/mysite/
mysite/
mysite/_config.php

themes/standard/css/src/deskall/theme/project_specific.less
themes/standard/css/src/deskall/theme/user_defined.less
themes/standard/css/src/deskall/theme/colors.less
themes/standard/css/src/deskall/theme/fonts.less
deskall-layout/templates/Includes/Css.ss
themes/standard/css/main.css
themes/standard/css/main.min.css
themes/standard/javascript/vendor/11-project-specific.js

.DS_Store

/.DS_Store