.dk-block-title-small-padding{
	h1,h2{
		.uk-padding-small;
	}
}
.dk-block-title-padding{
	h1,h2{
		.uk-padding;
	}
}
.dk-block-title-large-padding{
	h1,h2{
		.uk-padding-large;
	}
}

.dk-padding-remove-top{
	.uk-section{
		padding-top:0;
	}
}
.dk-padding-remove-bottom{
	.uk-section{
		padding-bottom:0;
	}
}


//children block
.children {
	.uk-section{
		padding:0;
	}
}


// //fixed image behavior --> TO DO
// .background-fixed {
//   right: 0;
//   overflow: hidden;
//   position: absolute;
//   clip: rect(0, auto, auto, 0);
// }
// .background-fixed img {
//   position: fixed;
//   z-index: -1;
//   right: 0;
//   transform: perspective(0px);
// }

