.featuresblock{
	li > [data-uk-icon]{
		position: relative;
		padding-left: 50px;
		display: block;
		line-height: @global-line-height;
		font-size:@global-font-size;
	 	svg{
			position: absolute;
			left:0;
			top:@global-font-size*@global-line-height/2;
			transform: translateY(-(@global-font-size*@global-line-height/2 - (@global-font-size*@global-line-height - @global-font-size)/2));
			height:@global-font-size;
			width:@global-font-size;
		}
	}
	
}
	