//FORM
fieldset{
	border: none;
}
input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
	//.uk-input;
}
input[type="checkbox"]{
	//.uk-checkbox;
}
input[type="radio"]{
	.uk-radio;
}
input[type="submit"]{
	.uk-button;
	//.uk-button-primary;
}
select{
	.uk-select;
}
textarea{
	.uk-textarea;
}

.dk-background-white{
	.uk-input,
	.uk-select,
	.uk-textarea{
		background-color:@form-background-inverse;
	}
}
.uk-button-primary *{
	color:inherit;
}
.dk-button-icon{
	svg{
		vertical-align: text-bottom;
		color:inherit;
	}
}

.hook-form-label(){
	color:@global-color;
	font-size: @global-font-size;
}

//STEPS
.dk-form-step-title{
	padding: 5px 10px;
}

#MemberLoginForm_LoginForm{
	fieldset{
		padding:0;
	}
	input[type="text"],input[type="email"],input[type="password"]{
		.uk-input;
	}
}