@lightbox-toolbar-background:             transparent;
<<<<<<< HEAD

.uk-lightbox-caption {
	background:rgba(0,0,0,0.8);
=======
.uk-lightbox-caption{
	background-color:rgba(0,0,0,0.8); 
>>>>>>> waldenergie
}