.team-box{
	border:1px solid #eee;
	background-color:#ffffff;
	.team-title{
		background-color:rgb(85, 38, 37);
		color:#fff;
		padding:10px;
	}
	&:hover .team-title{
		background-color:rgb(19,66,147);
	}
}