
//LINK
a:hover{
	text-decoration: none;
}

// LIST

	li[data-uk-icon]{
		padding-left: 15px;
		display: block;
		position: relative;
		line-height: @global-line-height;
		margin-top:0;
	 	svg{
			position: absolute;
			left:0;
			top:@global-font-size*@global-line-height/2;
			transform: translateY(-(@global-font-size*@global-line-height/2 - (@global-font-size*@global-line-height - @global-font-size)/2));
		}
		a{
			text-decoration: none;
			padding: 0 15px;
			display: block;
		}
		&.dk-large-icon{
			padding-left: 50px;
		}
	}
	.uk-nav li[data-uk-icon]{
		padding-left: 30px;
		svg{
			left:@global-gutter/2;
		}
	}

.textblock .uk-grid ul:not(.dk-list){
	margin-left:30px;
}

.dk-overlay{
	position: relative;
	.uk-container{position: relative;z-index: 2}
	&:not(.uk-section-default)::after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	&.uk-section-default{
		color: @white-background;
		h2,h3{
			color:@white-background;
		}
	}
}
.dk-background-white{
	background-color: @white-background;
	color:@white-color;
}
.dk-background-black{
	background-color: @black-background;
	color:@black-color;
}

.uk-section{
	background-repeat:no-repeat;
	background-size:cover;
}

.dk-default-icon{
	vertical-align: text-bottom;
	margin-left:10px;
}

.calltoaction-container{
	.uk-button{
		.read-more-font;
		font-size: @global-font-size;
		svg{
			padding-left:5px;
		}
	}
	&.uk-flex-left{
		.button-no-bg:not([data-uk-icon]){
			padding-left:0;
		}
	}
	&.uk-flex-right{
		.button-no-bg:not([data-uk-icon]){
			padding-right:0;
		}
	}
	&.uk-flex-center{
		.button-no-bg:not([data-uk-icon]){
			padding:0;
		}
	}
}
.dk-hidden{
	display: none;
}

picture img{
	width: 100%;
	height:auto;
}

.dk-text-content a{
	display: inline-block;
	position: relative;
	text-decoration: none;

	&:after {
	    background-color: @global-link-color;
	    content: '';
	    height: 1px;
	    position: absolute;
	    bottom: 2px;
	    left: 0;
	    transition: width 0.3s ease-in-out;
	    width: 0;
	}
	&:hover {
	    &:after {
	    background-color: @global-link-hover-color;
		width: 100%;
	    }
	}
} 

span.dk-link-with-icon{
	font-family: inherit;
	display: inline-block;
	vertical-align: top;
	width:~"calc(100% - 40px)";
}

.button-no-bg{
	padding-left:0;
}

//Title icon
.title-icon{
	.uk-float-left;
	i{
		font-size:3rem;
	}
	.hook-title-icon;
}


//UTILITY
//MIN HEIGHT (ie : LargeImageBlock)
.dk-height-small{
	min-height:200px;
	@media only screen and (min-width:@breakpoint-medium){
		min-height: 150px;
	}
}
.dk-height-medium{
	min-height:300px;
	@media only screen and (min-width:@breakpoint-medium){
		min-height: 350px;
	}
}
.dk-height-large{
	min-height:100vh;
	@media only screen and (min-width:@breakpoint-medium){
		min-height: 450px;
	}
}
//Position responsive
.dk-position-top{
	@media only screen and (min-width:@breakpoint-medium){
		.uk-position-top;
	}
}
.dk-position-bottom{
	@media only screen and (min-width:@breakpoint-medium){
		.uk-position-bottom;
	}
}
.dk-position-center{
	@media only screen and (min-width:@breakpoint-medium){
		.uk-position-center;
	}
}