

@import "standard_variables.less";

@import "fonts.less";
@import "typography.less";
@import "colors.less";
@import "user_defined.less";
@import "project_specific.less";

h1 {
	.h1-font;
}

h2 {
	.h2-font;
}

h3, h4, h5{
	.h3-font;
}

*, td{
	.standard-font;
}

address{
	font-style: normal;
}

p{
	line-height: 150%;
	margin-bottom: 12px;
}

strong {
	.strong-font;
}


