footer{
	background-color: @footer-background-color;
	*{
		.footer-font;
	}
	h3{
		font-size: @footer-title-font-size;
	}
	.uk-logo{
		padding:0;
	}
	.uk-logo img, .uk-logo svg{
		height:auto;
		width:@footer-logo-width;
	}

	,partner-container{
		max-width:100px;
		max-height:100px;
	}
}