@mobile-nav-font-size: 18px;
@mobile-nav-item-height:40px;

header{
	min-height:@header-menu-collapsed-height;
	@media (min-width:@breakpoint-medium){
		min-height:@header-menu-height;
	}
	.uk-logo{
		height:@navbar-nav-item-height;
		img,svg{
			height:100%;
			width:auto;
		}

		@media (min-width:@breakpoint-medium){
			height:60px;
			margin:0;
		}
		@media (min-width:@breakpoint-large){
			margin-top:~"calc(@{navbar-nav-item-height} - 10px)";
			
		}
	}
	&.dk-background-header{
		background:@dk-background-header;
	}
	
	.dk-main-menu{
		padding-top: @navbar-nav-item-height;
		.uk-navbar-nav > li > a{
			.nav-font;
			border-bottom:2px solid transparent;
		}
		.uk-navbar-nav > li > a:hover{
			border-bottom-color:@nav-active-border-color;
		}
		.uk-navbar-nav > li.uk-active > a{
			border-bottom-color:@nav-active-border-color;
		}
		.uk-navbar-dropdown{
			background:@white-background;
		}
		.uk-navbar-toggle-icon{
			line-height: @header-menu-collapsed-height;
		}
	}
	.dk-submenu{
		.uk-navbar-nav > li > a{
			.subnav-font;
		}
	}
}
header li[data-uk-icon], .dk-nav-mobile-container li[data-uk-icon]{
		padding-left: 10px;
		display: block;
		position: relative;
		line-height: @global-line-height;
		margin-top:0;
		
	 	svg{
			position: absolute;
			left:0;
		}
		a{
			color:inherit;
			text-decoration: none;
			margin-bottom:5px;
		}
		&.dk-large-icon{
			padding-left: 50px;
		}
	}
header li[data-uk-icon]{
	height: @navbar-nav-item-height;
	svg{
		top:50%;
	}
}
.dk-nav-mobile-container li[data-uk-icon]{
	a{
		padding-top: 0;
		padding-bottom: 0;
	}
	svg{
		top:@mobile-nav-item-height/2;
		transform: translateY(-(@mobile-nav-item-height/2 - (@mobile-nav-font-size*@global-line-height - @mobile-nav-font-size)/2));
	}
}
//MOBILE NAVIGATION
.dk-toggle-mobile-menu{
	line-height: @navbar-nav-item-height;
}
.dk-nav-mobile-container .uk-navbar-nav > li{
	display: block;
	width:100%;
}
.dk-nav-mobile{
		.uk-nav-header,
		li.current > a {
			color: @global-emphasis-inverse-color;
		}
		li.uk-nav-divider{
			border-top: 1px solid #999;
		}
	}
.dk-mobile-address{
	*{
		font-size: 0.75rem;
	}
}
.hook-subnav-item(){
	text-transform: none;
	height:@navbar-nav-item-height;
	line-height: @navbar-nav-item-height;
}