//CUSTOM CSS
@global-font-family:                            "Gill Sans Nova W01 Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@strong-font-family: 							"Gill Sans Nova W01 Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@title-font-family: 							"Gill Sans Nova W01 Cond Book" ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@read-more-font-family: 						@strong-font-family;
@nav-font-family:                               @strong-font-family;
@italic-font-family:                            "Gill Sans Nova W01 Light It", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@italic-strong-font-family:                     "Gill Sans Nova W01 Book It", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


@global-muted-background:                       #FDF1E3;
@global-inverse-color:                          @global-color; 
@global-emphasis-color:                         #B59677;
@global-muted-color:                            @global-color; 

@pink:                                          #FF298B;
@gruen:                                         #9AC300;
@blau:                                          #66AFBA;

@box-title-font-size:                           2rem;

@intrablock-padding-vertical:                   20px;
@intrablock-padding-vertical-s:                 40px;
@intrablock-padding-vertical-m:                 60px;

@form-background:                               #FDF1E3;
@form-radio-background:                         #FDF1E3;

@global-link-color:                             #B59677;
@global-link-hover-color:                       #B59677;

@global-border:                                 lighten(#B59677,10%);

header {
	.subnav{
		min-height:50px;
		.uk-navbar-nav > li > a{
			text-transform: uppercase!important;
			font-size:0.75rem;
			height:50px;
		}
		&:last-of-type{
			right:0;
		}
	}
	.uk-navbar-nav.main > li {
		border:1px solid #A69B8C;
		border-bottom:none;
		border-radius: 8px 8px 0 0;
		> a{
			padding:10px 30px!important;
			text-transform: uppercase;
			@media only screen and (min-width: @breakpoint-large) {
				padding:10px 40px!important;
			}
		}
		&.pink > a{
			border-bottom:8px solid @pink;
		}
		&.gruen > a{
			border-bottom:8px solid @gruen;
		}
		&.blau > a{
			border-bottom:8px solid #45C8D0;
		}
		.uk-navbar-dropdown .uk-navbar-dropdown-nav > li:nth-child(even){

		} 
		.uk-navbar-dropdown .uk-navbar-dropdown-nav > li > a{
			padding:5px 40px;
		}
	}
	.uk-logo{
	    width: @header-logo-height * 0.5;
	    height: @header-logo-height * 0.5;
	    text-align: center;
	    padding:5px!important;
	    @media only screen and (min-width: @breakpoint-medium) {
	    	width: @header-logo-height;
	    	height: @header-logo-height;
	    	position: absolute;
		    top: 50%;
		    left:50%;
		    transform:translate(-50%,-25%);
		    z-index:990;
		    padding:1px!important;
	    }
	}

}

.HomePage header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:900;
}

.hook-slider-font(){
	*{
		color:#FDF1E3;
	}
	h1,h2{
		color:#F8E4CE;
		font-size:6rem;
	}
	.uk-text-lead *{
		.strong-font;
		font-size:1.5rem;
		text-shadow: 0 0 5px #000,0 0 10px #000;
	}
	.uk-button{
		border-radius:8px;
		.uk-box-shadow-medium;
	}
}
.leadblock * p {
	font-family: @strong-font-family;
}
.text-gruen, .text-gruen > a {
  color: #7E9B00;
  font-family: inherit;
  *, :hover{
  	color: #9AC300;
  }
}
.text-blau, .text-blau > a {
  color: #2C9DA3;
  font-family: inherit;
  *, :hover{
  	 color: #45C8D0;
  }
}
.text-pink, .text-pink > a  {
  color: #FF298B;
  font-family: inherit;
  *, :hover{
  	 color: #C9206D;
  }
}

.button{
	display: inline-block;
	font-family: inherit;
  	border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    padding:5px 30px;
   	&.with-chevron{
   		position: relative;
   		padding-right:40px;
   		:after{
		    font-family: 'icomoon';
		    content: '\e9bd';
		    font-size: 65%;
		    color: inherit;
		    position: absolute;
		    right: 15px;
		    top: 60%;
		    transform: translateY(-60%);
		}
    }
    &:hover{
    	color:inherit;
    	box-shadow:none;
    }
}

.button-gruen {
	.button;
	background-color: #96AF29;
  	color: #fff;
  	cursor:pointer;
  	font-family: @strong-font-family;
  	&:hover {
  		color:#E7E7E7;
  	}
}
.button-blau {
  .button;
  background-color: #66AFBA;
  color: #fff;
  cursor:pointer;
  font-family: @strong-font-family;
  &:hover {
  		color:#E7E7E7;
  	}
}
.button-pink {
  background-color: #DC4C88;
  color: #fff;
  cursor:pointer;
  font-family: @strong-font-family;
  &:hover {
  		color:#E7E7E7;
  	}
}
.button-gruen-linie{
	 .button;
	background-color:transparent;
	border:1px solid #96AF29;
	color: #96AF29;
	cursor:pointer;
	font-family: @strong-font-family;
	&:hover {
		color: #96AF29;
  		opacity: 0.6;
  	}
}
.button-blau-linie{
	 .button;
	background-color:transparent;
	border:1px solid #66AFBA;
	color: #66AFBA;
	cursor:pointer;
	font-family: @strong-font-family;
	&:hover {
		color: #66AFBA;
  		opacity: 0.6;
  	}
}
.button-pink-linie{
	 .button;
	background-color:transparent;
	border:1px solid #DC4C88;
	color: #DC4C88;
	cursor:pointer;
	font-family: @strong-font-family;
	&:hover {
		color: #DC4C88;
  		opacity: 0.6;
  	}
}

.boxblock{
	img{
		padding:20px;
	}
}

.uk-button{
	.uk-border-rounded;
	.uk-box-shadow-medium;
}

.blau {
	.fill-page(@blau);
}
.gruen {
	.fill-page(@gruen);
}
.pink {
	.fill-page(@pink);
}

.fill-page(@color){
	.dk-text-content{
		a {
			color: @color;
			&:hover:after, &:after {
	    		background-color: @color;
	    	}
		}
	}
	.uk-tab > li.uk-active > a{
		border-color:@color;
	}
	.uk-radio:checked,
	.uk-checkbox:checked,
	.uk-checkbox:indeterminate {
	    background-color: @color;
	}

	/* Focus */
	.uk-radio:checked:focus,
	.uk-checkbox:checked:focus,
	.uk-checkbox:indeterminate:focus {
	    background-color: @color;
	}
}

.icon-large i{
	font-size:4rem;
	color:#B59677;
}

//Specific to custom Page elements
.dk-header-slide{
	height:200px;
	@media only screen and (min-width: @breakpoint-small) {
		height:250px;
	}
	@media only screen and (min-width: @breakpoint-medium) {
		height:350px;
	}
	@media only screen and (min-width: @breakpoint-large) {
		height:500px;
	}
}
.sidebar-menu{
	width: 100%;
	height:100%;
	@media only screen and (min-width: @breakpoint-medium) {
		width: 300px;
		height:auto;
	}
	@media only screen and (min-width: @breakpoint-large) {
		width: 380px;
	}
}
.dk-middle-offcanvas{
    width: 100%;
	&:not(.cart-offcanvas) *{
		color: inherit;
	}
	&.cart-offcanvas{
		background-color:transparent;
		padding:0;
		color:inherit;
		.uk-card-title{
			color:inherit;
		}
		.uk-button{
			background-color:@blau;
			color:#fff;
		}
	}
	@media only screen and (min-width: @breakpoint-medium) {
		&.cart-offcanvas{
			overflow-y: visible;
		}
	}
	
}

.dk-text-small{
	*{
		.uk-text-small;
	}
}

#tab-switcher{
	li:not(.uk-active) > a > span{
		display: none;
	}
	@media only screen and (min-width: @breakpoint-medium) {
		li:not(.uk-active) > a > span{
			display: inline;
		}
	}
}

.product-table{
	[data-uk-icon]{
		width:20px;
	}
}