//CUSTOM CSS
@global-font-family:                            "Gill Sans Nova W01 Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@strong-font-family: 							"Gill Sans Nova W01 Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@title-font-family: 							"Gill Sans Nova W01 Cond Book" ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@read-more-font-family: 						@strong-font-family;
@nav-font-family:                               @strong-font-family;
@italic-font-family:                            "Gill Sans Nova W01 Light It", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@italic-strong-font-family:                     "Gill Sans Nova W01 Book It", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


@global-muted-background:                       #FDF1E3;