// CREATED FROM SILVERSTRIPE LAYOUT CONFIG --- DO NOT DELETE OR MODIFY
@global-muted-background:#E2E2E2;
@global-primary-background:#6599FF;
@global-secondary-background:#FF6446;
@white:#FFFFFF;
@black:#000000;
@global-background:#EEEEEE;
@global-font-size:20px;
@h1-size:3.5rem;
@h1-mobile-size:2.5rem;
@h2-size:2.5rem;
@h3-size:2rem;
@text-lead-font-size:1.5rem;
@global-color:#666666;
@header-menu-height:70px;
@header-menu-collapsed-height:50px;
@dk-background-header: fade(#FFFFFF,50%);