// CREATED FROM SILVERSTRIPE LAYOUT CONFIG --- DO NOT DELETE OR MODIFY
@global-muted-background:#CCCCCC;
@global-primary-background:#10206B;
@global-secondary-background:#DC002E;
@white:#FFFFFF;
@black:#000000;
@global-background:#E3E4E4;
@global-font-size:20px;
@h1-size:3rem;
@h1-mobile-size:1.8rem;
@h2-size:2.5rem;
@h3-size:2rem;
@text-lead-font-size:1.8rem;
@global-color:#575756;