// CREATED FROM SILVERSTRIPE LAYOUT CONFIG --- DO NOT DELETE OR MODIFY
@global-background:#E4E4E4;
@global-color:#575756;
@global-primary-background:#10206B;
@global-primary-color:#FFFFFF;
@global-secondary-background:#DC002E;
@global-secondary-color:#FFFFFF;
@white-background:#FFFFFF;
@white-color:#666666;
@black-background:#000000;
@black-color:#FFFFFF;
@global-muted-background:#CCCCCC;
@global-muted-color:#575756;
@global-emphasis-background:#10206B;
@global-emphasis-color:#FFFFFF;
@global-font-size:20px;
@h1-size:3.5rem;
@heading-primary-font-size:3.5rem;
@h1-mobile-size:2.5rem;
@h2-size:2.5rem;
@h3-size:2rem;
@text-lead-font-size:1.5rem;
@navbar-nav-item-color:#525252;
@navbar-nav-item-hover-color:#D68267;
@navbar-nav-item-active-color:#D68267;
@nav-active-border-color:#D68267;
@header-menu-height:70px;
@header-menu-collapsed-height:50px;
@dk-background-header: fade(#FFFFFF,50%);