.elemental-preview li[data-uk-icon]{
	display:block;
}
.elemental-preview .dk-list{
	padding-left:0;
}

.dk-hidden{
	display: none!important;
}

/*** CMS Design corrections **/
@media only screen and (min-width: 1200px){
	.cms-edit-form .form-group:not(.stacked) .form__field-holder, 
	.form--inline .form-group:not(.stacked) .form__field-holder, 
	.ss-insert-link .form__fieldgroup .form-group:not(.stacked) .form__field-holder{
		-webkit-box-flex: 0;
	    -webkit-flex: 0 0 66.66667%;
	    flex: 0 0 66.66667%;
	    max-width: 66.66667%;
	}
	.cms-edit-form .form-group:not(.stacked) .form__field-label, 
	.form--inline .form-group:not(.stacked) .form__field-label, 
	.ss-insert-link .form__fieldgroup .form-group:not(.stacked) .form__field-label {
		-webkit-box-flex: 0;
	    -webkit-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
}
