//Custom CSS Here

header {
	
}
.dk-nav-mobile{
	.level-1{
		border-bottom:1px solid #eee;
		font-size: 1.5rem;
		padding:10px 0;
	}
}
.hook-slider-font(){
	*{
		color:@white-background;
		text-shadow:2px 2px 4px @black-background;
	}
}
footer.uk-section{
	padding-bottom:0;
}
.dk-footer-secondary{
	background:lighten(@footer-background-color,20%);
	padding-bottom:20px;
	.uk-navbar-nav > li > a{
		font-size:0.7rem;
		min-height:20px;
		height:20px;
		padding:0 10px;
		margin:10px 0;
		border-right: 1px solid @footer-background-color;
	}
	.uk-navbar-nav > li:last-child > a{
		border-right: none;
	}
	.copyright{
		font-size:0.6rem;
		text-align:center;
	}
	@media only screen and (orientation: landscape) {
		.uk-navbar-nav > li > a{
			font-size:0.75rem;
			padding:0 15px;
		}
		.copyright{
			margin-top:20px;
			font-size:0.7rem;
		}
	}
	@media only screen and (min-width: @breakpoint-medium) {
		.uk-navbar-nav > li > a{
			font-size:0.875rem;
			padding:0 30px;
		}
		.copyright{
			margin-top:40px;
			font-size:0.875rem;
		}
	}
	@media only screen and (min-width: @breakpoint-large) {
		.uk-navbar-nav > li > a{
			padding:0 40px;
		}
	}
}