//Custom CSS Here


.hook-slider-font(){
	*{
		color:@white-background;
		text-shadow:2px 2px 4px @black-background;
	}
}

.dk-footer-secondary{
	background:lighten(@footer-background-color,20%);
	padding-bottom:20px;
	.uk-navbar-nav > li > a{
		font-size:0.8rem;
		min-height:20px;
		padding:0 10px;
		margin:10px 0;
		border-right: 1px solid @footer-background-color;
	}
	.uk-navbar-nav > li:last-child > a{
		border-right: none;
	}
	.copyright{
		font-size:0.6rem;
		text-align:center;
	}
	@media only screen and (orientation: landscape) {
		uk-navbar-nav > li > a{
			padding:0 15px;
		}
	}
	@media only screen and (min-width: @breakpoint-medium) {
		uk-navbar-nav > li > a{
			padding:0 30px;
		}
	}
	@media only screen and (min-width: @breakpoint-large) {
		uk-navbar-nav > li > a{
			padding:0 40px;
		}
	}
}