//CUSTOM CSS
@global-font-family:                            "BenchNine-Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@strong-font-family: 							"BenchNine-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, serif;
@title-font-family: 							@global-font-family;
@read-more-font-family: 						@strong-font-family;
@nav-font-family:                               @strong-font-family;
@italic-font-family:                            @global-font-family;

.block-slider{
	* {
		font-size:72px;
	}
	a{
		font-size: 40px;
	}
}