//CUSTOM CSS
@global-font-family:                            "BenchNine-Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@strong-font-family: 							"BenchNine-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, serif;
@title-font-family: 							@global-font-family;
@read-more-font-family: 						@strong-font-family;
@nav-font-family:                               @strong-font-family;
@italic-font-family:                            @global-font-family;

@nav-parent-icon-color: #666;

header{
	border-bottom:1px solid #eee;
}
.block-slider{
	@media only screen and (min-width:@breakpoint-medium){
		* {
			font-size:72px;
			line-height: 120%;
		}
		.calltoaction-container *{
			font-size: 40px;
		}
	}	
}
.box-link{
	min-height:50px;
}
.box-border{
	height:8px;
}

header .uk-logo,header .svg-logo{
	height:70px;
	@media only screen and (min-width:@breakpoint-medium){
		height: @header-logo-height;
	}
}

.uk-offcanvas-bar .uk-nav-parent-icon .uk-parent>a::after{
	.svg-fill(@internal-nav-parent-close-image, "#000", @nav-parent-icon-color);
}
.uk-offcanvas-bar .uk-nav-parent-icon .uk-parent.uk-open>a::after{
	.svg-fill(@internal-nav-parent-open-image, "#000", @nav-parent-icon-color);
}

.dk-nav-mobile{
	.uk-nav-sub{
		padding-left:25px;
	}
}

.sidebar{
	.uk-nav-sub{
		padding-left:15px;
		a{
			padding-left:20px;
			position:relative;
		}
		a:before{
			content:'\e9bd';
			font-family: 'icomoon';
			font-size: 60%;
			position: absolute;
			left:0;
			top:7px;
		}
	}
}

table.kurse-table{
	*{
		font-family: 'Lato Light';
	}
}