---
Name: siteconfiglayout
After:
    - '#deskall-divers'
    - '#deskall-page-blocks'
---
SilverStripe\SiteConfig\SiteConfig:
  extensions:
    - SiteConfigLayoutExtension

Page:
  extensions:
    - PageLayoutExtension

SilverStripe\Admin\LeftAndMain:
  extra_requirements_css:
    - deskall-layout/css/layout.css

Color:
  extensions:
    - SubObjectPermission

LayoutBlock:
  extensions:
    - SubObjectPermission

LayoutLink:
  extensions:
    - SubObjectPermission

HeaderSlide:
  extensions:
    - SubObjectPermission

---
Only:
  moduleexists: 'subsiteconfig'
---
ThemeLeftAndMain:
  extensions:
    - SubsiteMenuExtension