<section class="uk-section uk-section-muted main">
	<div class="uk-container uk-container-medium">
		<h1 class="uk-heading-primary">Seite Titel</h1>
		<p>Etiam et imperdiet tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ut nisl vitae dui aliquet euismod a sit amet velit. Quisque ut suscipit sapien, fermentum iaculis ante. Fusce libero lorem, fermentum ac leo rutrum, scelerisque tincidunt elit.</p>
	</div>
</section>

<section class="uk-section uk-section-default">
	<div class="uk-container uk-container-medium">
		<h2>GalerieBlock Titel</h2>
		<p>Sed imperdiet efficitur nisl sed congue. Vestibulum consequat dictum dictum. Donec ac porta arcu. Nunc suscipit, ligula sed convallis efficitur, nisl libero euismod diam, facilisis scelerisque eros diam nec risus. Proin mattis risus lacus, eget lobortis ante suscipit molestie. Donec vel placerat dui. Maecenas metus felis, auctor vitae malesuada et, interdum eu ante. Nam id mauris posuere, vestibulum dolor eu, consectetur erat.</p>

		<div uk-slider>

		    <div class="uk-position-relative">

		        <div class="uk-slider-container uk-light">
		            <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@ uk-grid" uk-lightbox>
		                <li>
				            <a href="/themes/primaklima/img/box.png"><img src="/themes/primaklima/img/box.png" alt=""></a>
				        </li>
				        <li>
				            <a href="/themes/primaklima/img/box.png"><img src="/themes/primaklima/img/box.png" alt=""></a>
				        </li>
				        <li>
				            <a href="/themes/primaklima/img/box.png"><img src="/themes/primaklima/img/box.png" alt=""></a>
				        </li>
				        <li>
				            <a href="/themes/primaklima/img/box.png"><img src="/themes/primaklima/img/box.png" alt=""></a>
				        </li>
		            </ul>
		        </div>

		        <div class="uk-hidden@s uk-light">
		            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
		        </div>

		        <div class="uk-visible@s">
		            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
		            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
		        </div>

		    </div>

		    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

		</div>
	</div>
</section>

<section class="uk-section uk-section-muted">
	<div class="uk-container uk-container-medium">
		<h2>TextBlock mit Bild Titel</h1>
		<div class="uk-flex uk-flex-left@s uk-flex-around@m" uk-grid uk-lightbox>
			<div class="uk-width-1-3@m"><a href="/themes/primaklima/img/box.png"><img class="uk-align-left" src="/themes/primaklima/img/box.png" alt=""></a></div>
			<div class="uk-width-2-3@m"><p>Etiam et imperdiet tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ut nisl vitae dui aliquet euismod a sit amet velit. Quisque ut suscipit sapien, fermentum iaculis ante. Fusce libero lorem, fermentum ac leo rutrum, scelerisque tincidunt elit.</p></div>
		</div>
	</div>
</section>

<section class="uk-section uk-section-default">
	<div class="uk-container uk-container-medium">
		<h2>TextBlock mit Link</h2>
		<div class="uk-panel">
			<p>Etiam et imperdiet tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ut nisl vitae dui aliquet euismod a sit amet velit. Quisque ut suscipit sapien, fermentum iaculis ante. Fusce libero lorem, fermentum ac leo rutrum, scelerisque tincidunt elit.</p>
			<a class="uk-button uk-button-secondary uk-align-right" href="">Hier klicken</a>
		</div>
	</div>
</section>


 <section class="uk-section dk-bg dk-bg-primary uk-section-xlarge uk-background-cover" style="background-image:url('/themes/primaklima/img/background.jpg');">
	<div class="uk-container uk-container-medium">
		<h2 class="dk-text-white">TextBlock mit Link</h2>
		<ul class="uk-list uk-list-large uk-text-large dk-list dk-text-white">
			    <li><span uk-icon="icon: check; ratio:2" class="uk-position-top-center"></span>  Etiam et imperdiet tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
			    <li><span uk-icon="icon: check; ratio:2;" class="uk-position-top-center"></span>  Fusce libero lorem</li>
			    <li><span uk-icon="icon: check; ratio:2" class="uk-position-top-center"></span>  Scelerisque tincidunt</li>
			</ul>
			<a class="uk-button uk-button-secondary uk-align-right" href="">Hier klicken</a>
	</div>
</section>

 <section class="uk-section uk-section-muted">
 	<div class="uk-container uk-container-medium">
		<h2>FormularBlock</h2>
	 	<form>
		    <fieldset class="uk-fieldset">

		        <legend class="uk-legend">Legend</legend>

		        <div class="uk-margin">
		            <input class="uk-input" type="text" placeholder="Input">
		        </div>

		        <div class="uk-margin">
		            <select class="uk-select">
		                <option>Option 01</option>
		                <option>Option 02</option>
		            </select>
		        </div>

		        <div class="uk-margin">
		            <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
		        </div>

		        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
		            <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
		            <label><input class="uk-radio" type="radio" name="radio2"> B</label>
		        </div>

		        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
		            <label><input class="uk-checkbox" type="checkbox" checked> A</label>
		            <label><input class="uk-checkbox" type="checkbox"> B</label>
		        </div>

		        <div class="uk-margin">
		            <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
		        </div>

		    </fieldset>
		    <a class="uk-button uk-button-secondary uk-align-right" href="">Formular senden</a>
		</form>
	</div>
</section>