.block-header-preview{
	margin-bottom:10px;
}
.elemental-preview__detail .slide-container{
	
}
.svg-slider-thumbnail{
	max-width: 200px;
	max-height:100px;
}
.svg-slide-thumbnail{
	max-width: 400px;
	max-height:200px;
}
.svg-banner-thumbnail{
	max-width: 300px;
	max-height:200px;
}
.svg-gallery-thumbnail{
	max-width: 60px;
	max-height:60px;
}

.cms-edit-form:not(.AssetAdmin) .ss-gridfield-add-new-multi-class .form-group.htmldropdown{
    width:calc(100% - 120px);
    max-width:850px;
    margin-bottom:10px;
}
.cms-edit-form:not(.AssetAdmin) .ss-gridfield-duplicate-block .form-group{
    width:calc(100% - 120px);
    max-width:850px;
}

.cms-edit-form .elemental-add-existing-autocompleter {
	max-width: 100%;
}
