//Overwritting uikit variables
// ========================================================================

//
// Screen size
//

@breakpoint-small:                             640px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

//
// Typography
//

@global-font-family:                            "Lato Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@global-font-size:                              20px;
@global-line-height:                            1.5;      

@global-xxlarge-font-size:                      2.625rem; 
@global-xlarge-font-size:                       2rem;     
@global-large-font-size:                        1.5rem;   
@global-medium-font-size:                       1.25rem;  
@global-small-font-size:                        0.875rem; 

@heading-primary-font-size:                     3.6rem;    
@main-nav-font-size:                            0.9rem;  
@text-lead-font-size:                           @global-font-size;


@h1-size:                                       3.6rem;
@h1-mobile-size:                                2rem;
@h2-size:										2.625rem;
@h3-size:										1.5rem;

@font-ratio-small:                              0.6;
@font-ratio-medium:                             0.7;
@font-ratio-large:                              0.8;

//
// Colors
//

@global-color:                                  #575756;
@global-emphasis-color:                         #10206b;
@global-muted-color:                            #999;

@global-link-color:                             #10206b;
@global-link-hover-color:                       #10206b;

@global-inverse-color:                          #fff;

//
// Backgrounds
//

@global-background:                             #e3e4e4;

@global-muted-background:                       #ffffff;
@global-primary-background:                     #10206b;
@global-secondary-background:                   #dc002e;

@global-success-background:                     #32d296;
@global-warning-background:                     #faa05a;
@global-danger-background:                      #f0506e;




//
// NAV
// 
@navbar-nav-item-height:                        60px;
@navbar-nav-item-active-color:                  @global-color;
@subnav-item-color:                             @global-color;
@subnav-pill-item-hover-background:             transparent;
@subnav-pill-item-hover-color:                  @global-color;
@subnav-pill-item-active-background:            transparent;
@subnav-pill-item-active-color:                 @global-color;

//
//FORMS
//
@form-background:                               @white;

// ========================================================================

//Deskall custom variables
// ========================================================================

//
// Colors
//

@white:#ffffff;
@black: #000000;
@dk-background-header: fade(@white,80%);
@global-emphasis-inverse-color:  @white;

//
// FONTS
//
@strong-font-family: "Lato bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@light-font-family: "Lato Light" ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//
// HEIGHTS
//
@header-menu-collapsed-height:                   70px;
@header-menu-height:                             130px;

//
//FORMS
//
@form-background-inverse:                        @global-background;