//Typography

h1,h2,h3,h4,h5,h6{
	font-family:@light-font-family;
	color: @global-color;
}

em,strong,.strong-font{
	font-family:@strong-font-family;
}
.nav-font{
	font-family:@strong-font-family;
	color:@global-color;
	font-size: @main-nav-font-size;
	text-transform: none;
}
.subnav-font{
	color:@global-color;
}




// BUTTONS ///
.hook-button(){
	text-transform: none!important;
}

//Text colors //
.dk-text-white{
	color:@white;
	*{
		color:@white;
	}
}


//Font size media queries
h1, .slide-font .title{
	font-size: @h1-size*@font-ratio-small;
}
h2{
	font-size: @h2-size*@font-ratio-small;
}
h3,h4,h5,h6{
	font-size: @global-font-size;
}
.hook-text-lead(){
	font-size: @text-lead-font-size;
}

@media (min-width:@breakpoint-small){
	h1, .slide-font .title{
		font-size: @h1-size*@font-ratio-medium;
	}
	h2{
		font-size: @h2-size*@font-ratio-medium;
	}
	h3,h4,h5,h6{
		font-size: @h3-size*@font-ratio-medium;
	}

	
}
@media (min-width:@breakpoint-medium){
	h1, .slide-font .title{
		font-size: @h1-size*@font-ratio-large;
	}
	h2{
		font-size: @h2-size*@font-ratio-large;
	}
	h3,h4,h5,h6{
		font-size: @h3-size*@font-ratio-large;
	}

	
}
@media (min-width:@breakpoint-large){
	h1, .slide-font .title{
		font-size: @h1-size;
	}
	h2{
		font-size: @h2-size;
	}
	h3,h4,h5,h6{
		font-size: @h3-size;
	}

	
}
